@model PropertyPlusApp.Models.MaintenanceRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maintenance Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Documents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintenanceId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.MaintenanceId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<h4>Leaser Information</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Property.Leaser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Property.Leaser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Property.Address)
                </td>
            </tr>
        
    </tbody>
</table>

